@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

html,
body {
  height: 100%;
  width: 100%;
}

.leaflet-tile-pane {
  filter: saturate(300%) hue-rotate(-10deg);
}

.leaflet-popup-content-wrapper {
  background: rgba(239, 215, 77, 0.8);
  box-shadow: none;
  color: white;
  border-radius: 4px;
}
.leaflet-popup-tip {
  background: rgba(239, 215, 77, 0.8);
  box-shadow: none;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #bdcfd3 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #bdcfd3;
  border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

@layer base {
  .container {
    @apply mx-auto w-full max-w-[1480px] px-4;
  }
}
